<mat-card class="card">
  <div class="settings-search">
    <button mat-icon-button color="basic">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-form-field class="search-field" appearance="outline" style="margin-bottom: -1.25em">
      <mat-label>
        <mat-icon>search</mat-icon>
      </mat-label>
      <input matInput type="text" placeholder="Поиск" [(ngModel)]="search" (keyup)="getFilterUsers($event)">
    </mat-form-field>
  </div>
  <div *ngIf="search===''">
    <div *ngFor="let chat of chats" class="chat_entity" (click)="openChat(chat)">
      <mat-card class="user-card">
        <mat-card-content class="info">
          <img class="user-photo"
            src="{{getUrlMinio() + chatPhoto(chat.users)}}"
            alt="user-photo">
          <div class="user-name">{{nameChat(chat.users)}}</div>
          <div class="last-msg-text">{{lastMessage(chat.lastMessage)}}</div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div *ngIf="search!=''">
    <div *ngFor="let user of users" class="chat_entity" (click)="addChat(user)">
      <mat-card class="user-card">
        <mat-card-content class="info">
          <img class="user-photo"
            src="{{getUrlMinio() + user.photo}}"
            alt="user-photo">
          <div class="user-name">{{user.username}}</div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</mat-card>
