:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card>* {
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around!important;
}

.actions:last-child {
    margin-bottom: 0px!important;
}

.msg-type {
    width: inherit;
    text-align: center;
    width: 200px;
}

.green {
    color: green!important;
}
