.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    height: 100%;
}

.settings {
    display: flex;
    justify-content: space-between;
}

.horizontal-flex {
    display: flex;
    gap: 10px;
}


#conv {
    height: 70vh;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.msg-sender {
    background: #303030;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.msg-sender .area-form {
    width: 100%;
}

textarea {
    resize: none !important;
}

:host .cdk-virtual-scroll-content-wrapper {
    position: relative;
}

#conv .message-card {
    width: 50%;
    background: #303030;
    margin-top: 20px;
}

#conv .message-card.right {
    align-self: flex-end;
}

.mat-card {
    padding: 5px;
}

.message-card .message-header {
    gap: 10px;
}

.msg-info {
    color: rgb(212, 211, 211);
}

.message-user-photo {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.size-x2 {
    width: 35px;
    height: 35px;
}

::-webkit-scrollbar {
    width: 6px;
    overflow-y: scroll;
    background: grey;
    box-shadow: inset 0 0 4px #707070;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    background: #69f0ae;
    border-radius: 12px;
}