<mat-card class="card">
    <div *ngIf="currentChat!=undefined">
        <div class="settings">
            <div class="horizontal-flex">
                <img class="message-user-photo size-x2" src="{{url_file + chatPhoto()}}" alt="user-photo">
                <div class="msg-info">{{nameChat()}}</div>
            </div>
            <button mat-icon-button color="basic">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
    </div>
    <div *ngIf="currentChat===undefined"
    style="position: absolute; top:50%; left:40%; color: gray; font-size: 2em; text-align: center;">Выберите чат</div>


    <div id="conv" *ngIf="msgs.length!=0"
    infinite-scroll
    [infiniteScrollDistance]="distance"
    [infiniteScrollThrottle]="throttle"
    (scrolledUp)="onScroll()"
    [scrollWindow]="false">
        <mat-card *ngFor="let msg of msgs" class="{{messageSide(msg)}} messange-card">
            <mat-card-header class="message-header">
              <div class="time">{{dateTime(msg.dateTime)}}</div>
              <div class="usermsg">
                <div class="msg-info">{{msg.user.username}}</div>
                <img class="message-user-photo" src="{{url_file + msg.user.photo}}" alt="">
              </div>
            </mat-card-header>
            <mat-card-content class="content">
                <div class="msg-text" *ngIf="checkType(msg.messageType) === 'TEXT'">{{msg.value}}</div>
                <img class="msg-img" *ngIf="checkType(msg.messageType) === 'IMAGE'" src="{{url_file+msg.value}}">
            </mat-card-content>
        </mat-card>
    </div>
    <div class="conv"  *ngIf="msgs.length===0"></div>

    <mat-card class="msg-sender" *ngIf="currentChat!=undefined">
        <mat-form-field style="margin-bottom: -1.25em; margin-right: 15px;" class="area-form" appearance="outline">
            <mat-label>Сообщение</mat-label>
            <textarea rows="2" style="overflow: hidden" [(ngModel)]="text_msg" (keyup.enter)="sendMessage()" matInput></textarea>
        </mat-form-field>
        <button  mat-fab color="accent" (click)="sendMessage()">
            <mat-icon>send</mat-icon>
        </button>
    </mat-card>
</mat-card>
