<mat-card class="card">
    <div>
        <div class="settings">
            <p>photo + username +?status</p>
            <button mat-icon-button color="basic">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
    </div>


    <div class="conv">

    </div>

    <mat-card class="msg-sender">
        <mat-form-field style="margin-bottom: -1.25em; margin-right: 15px;" class="area-form" appearance="outline">
            <mat-label>Сообщение</mat-label>
            <textarea rows="2" style="overflow: hidden" matInput></textarea>
        </mat-form-field>
        <button  mat-fab color="accent">
            <mat-icon>send</mat-icon>
        </button>
    </mat-card>
</mat-card>